#embedMediaModal {
  position: absolute;
  top: 55px;
  right: 20px;
  display: none;
  z-index:999999;
}

#embedMediaSrc {
  max-width: 100%;
}

.embedMediaButton {
  padding:10px;
}

#doEmbedMedia{
  color:blue;
} 

#cancelEmbedMedia{
  color:red;
} 

#insertEmbedMedia {
  font-family:font-awesome;
}

.buttonicon-embed-media:before{
  content:"\e83b";
  top: 2px !important;
}
