<div id="embedMediaModal" class="popup popup-content">
    <% e.begin_block("embedMediaPopup"); %>
        <h1>Embed media into this pad</h1>
        <p>Collez un lien ou un "code d'intégration" ici:</p>
        <textarea id="embedMediaSrc" rows="10" cols="60"></textarea>
        <div>
            <input type="button" class="embedMediaButton" id="doEmbedMedia" value="Insert media">
            <input type="button" class="embedMediaButton" id="cancelEmbedMedia" value="Cancel">
        </div>
    <% e.end_block(); %>
</div>
